@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");



* {
    margin: 0;
    padding: 0;
    font-family: courier;
}

.pfp {
    /* background-image: url(../images/b-pfp.png); */
    background-size: contain;
    background-repeat: no-repeat;

}
/* steps is number of chars-1 */
  .wrapper .static-txt{
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;

    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 3%;
    height: 110%;
    width: 100%;
    background: white;
    border-left: 2px solid;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
}